.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
  
    .logo {
      height: 68px;

      @media (max-width: 500px) {
        height: 46.88px;
      }

    }
  
    nav ul {
      display: flex;
      list-style: none;
      gap: 1.5rem;
  
      li a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 24px;

        @media (max-width: 500px) {
            font-size: 12px;
          }
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      .active a {
        text-decoration: underline;
      }
    }
  }
  