// Variables
$primary-color: #ff6060;
$secondary-color: #000;
$background-color: #fff;
$text-color: #333;
$white: #fff;
$padding-side-large: 100px;

// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global Styles
body {
  font-family: 'Arial', sans-serif;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

.container {
  padding: 0 20px; // Default padding for smaller screens
  width: 100%;


  @media (min-width: 768px) {
    padding: 0 40px; // Adjust for medium screens
  }

  @media (min-width: 1024px) {
    padding: 0 60px; // Adjust for larger screens
  }

  @media (min-width: 1440px) {
    padding: 0 $padding-side-large; // 100px padding for very large screens
  }
}

footer {
  padding: 1rem 0;
  background-color: $secondary-color;
  color: $white;
  text-align: center;
  height: 209px; // Ajustez la hauteur du footer
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }
}

// Import component styles
@import './components/Header.scss';
@import './components/Footer.scss';
@import './components/Banner.scss';
@import './components/Card.scss';
@import './components/Gallery.scss';
@import './components/Collapse.scss';
@import './pages/Home.scss';
@import './pages/Property.scss';
@import './pages/NotFound.scss';
